# Created by https://gitignore.io/api/visualstudiocode
# Edit at https://gitignore.io?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://gitignore.io/api/visualstudiocode
